<header>
  <div class="hero-content">
    <h1>Hola, soy Mariafernanda Palestini</h1>
    <p>Desarrollador Web | Especialista en Angular</p>
    <p>Desarrollador Especialista en PLSQL</p>
    <!--<a href="#projects" class="btn">Ver Mis Proyectos</a> -->
  </div>
  <div class="login-btn-container">
    <button *ngIf="!isLoggedIn" routerLink="/login" class="login-btn">Login</button>
    <button *ngIf="isLoggedIn" (click)="logout()" class="login-btn">Logout</button>
  </div>
  </header>
  
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  
  <section id="about" class="section-about">
    <h2>Sobre Mí</h2>
    <p>Soy una desarrolladora Frontend aprendiendo Angular y con experiencia en PLSQL. Me apasiona crear aplicaciones dinámicas e interactivas.</p>
  </section>
  

  <section id="skills" class="section-skills">
    <h2>Habilidades</h2>
    <div class="skills-list">
      <div *ngFor="let habilidad of habilidades">
        <img [src]="'assets/icons/' + habilidad.fichero" [alt]="habilidad.nombre + ' Logo'" class="skill-image">
        <h2>{{ habilidad.nombre }}</h2>
        <p>{{ habilidad.descripcion }}</p>
        <p>Nivel: {{ habilidad.nivel }}</p>
        <button *ngIf="isLoggedIn" [routerLink]="['/habilidades/edit', habilidad.id_habilidad]">Editar</button>
        <button *ngIf="isLoggedIn" (click)="eliminarHabilidad(habilidad.id_habilidad)">Eliminar</button>
      </div>
    </div>
    <button *ngIf="isLoggedIn" routerLink="habilidades/create">Crear</button>
  </section>    
  
  
  <section id="projects" class="section-projects">
    <h2>Proyectos</h2>
    <div class="projects-grid">
      <div class="project-card">
        <h3>Portafolio Personal</h3>
        <p>Proyecto actual construido en Angular.</p>
      </div>
    </div>
  </section>
